<% content_for :menu do %>
        <%= render "inventory/navigationmenuRATA" %>
<% end %>

<% content_for :content do %>

    <%#= form_tag({:controller => "inventory/researchassistants",:class=>"my_form",:action => "update",:id => @rassistant.id},:id => "formRA",:method => "put" ) do %>
    <%=form_for(@user, :url => {:controller => "inventory/astaffs",:id => @user.id,:action=>"update"},:html=>{:id=>"formAS",:class=>'clientSideValidatedForm'}) do |f| %>

    <div class="pageHeadingBar">
        <h1>Edit Administrative Staff</h1>
    </div>
    <hr class="headingLineBreak"/>

    <% if !flash[:msgRed].blank? %>
      <div class="errors">
        <p><%=flash[:msgRed]%></p>
      </div>
      <div class="clearFloatingAndStartFromBelow"></div>
    <%end%>



    <div class="expandingBlock">
         <div class="expanderHeaderBar">
           <%=image_tag("", :alt=>'', :class=>'expanderDownButton')%>
           <h2>Basic Information <span class="requiredFillExpander"> *</span></h2>
           <div class="expander">
              <table>
                <tr><td class="labelDefinitionTerm">Name: <span class="requiredFieldAsterisk">*</span></td>
                    <td class="inputBoxPlacement"><%=f.text_field :name, :required => true,:title=>'Special characters not allowed', :class=>'inputTextbox'%></td>
                    <td class="fieldErrorPlacement"><%= @user.errors[:name][0] %></td>
                </tr>

                <tr><td class="labelDefinitionTerm">Date of Birth:</td>
                  <td class="inputBoxPlacement"><%=f.text_field :dateofbirth,:class=>"uidatePicker"%></td>
                  <td class="fieldErrorPlacement"><%= @user.errors[:dateofbirth][0] %></td>
                </tr>
              </table>
                <fieldset>
                    <legend><strong>Gender</strong></legend>
                        <div class="firstRadioButton"><%=  f.radio_button :gender, 'Male',:checked => true%> Male</div>
                        <div class="otherRadioButtons"><%= f.radio_button :gender, 'Female'%> Female</div>
                </fieldset>
              <table>
                <tr>
                    <td class="labelDefinitionTerm">Upload Image:</td>
                    <td class="inputBoxPlacement"><%= f.file_field :photo,:class=>"inputTextbox"%></td>
                    <td class="fieldErrorPlacement"><%= @user.errors[:photo_content_type][0] %></td>
                </tr>
              </table>
           </div>
         </div>
         <div class="expanderHeaderBar">
           <%=image_tag("", :alt=>'', :class=>'expanderDownButton')%>
             <h2>Contact Information <span class="requiredFillExpander"> *</span></h2>
             <div class="expander">
                <table>
                    <tr><td class="labelDefinitionTerm">Address: <span class="requiredFieldAsterisk">*</span></td>
                        <td class="inputBoxPlacement"><%=f.text_field :address, :required => true, :class=>'inputTextbox'%></td>
                        <td class="fieldErrorPlacement"><%= @user.errors[:address][0] %></td>
                    </tr>
                    <tr><td class="labelDefinitionTerm">Contact Number: <span class="requiredFieldAsterisk">*</span></td>
                        <td class="inputBoxPlacement"><%=f.text_field :contactnumber,:required => true, :class=>'inputTextbox', :title=>"Example format: +923332233445"%></td>
                        <td class="fieldErrorPlacement"><%= @user.errors[:contactnumber][0] %></td>
                    </tr>
                    <tr><td class="labelDefinitionTerm">Email: <span class="requiredFieldAsterisk">*</span></td>
                        <td class="inputBoxPlacement"><%=f.text_field :email,:required => true, :class=>'inputTextbox', :title=>"e.g. 11030038@lums.edu.pk"%></td>
                        <td class="fieldErrorPlacement"><%= @user.errors[:email][0] %></td></tr>
                </table>
             </div>
         </div>
         <div class="expanderHeaderBar">
           <%=image_tag("", :alt=>'', :class=>'expanderDownButton')%>
           <h2>Administrative Staff Information <span class="requiredFillExpander"> *</span></h2>
           <%=f.fields_for :astaff do|builder|%>
             <div class="expander">
                <table>
                    <tr>
                        <td class="labelDefinitionTerm">Employee ID: <span class="requiredFieldAsterisk">*</span></td>
                        <td class="inputBoxPlacement"><%=builder.text_field :employee_id,:required => true, :class=>'inputTextbox', :title=>'Special characters not allowed'%></td>
                        <td class="fieldErrorPlacement"><%= @user.astaff.errors[:employee_id][0] %></td>
                    </tr>
                    <tr>
                        <td class="labelDefinitionTerm">Description: </td>
                        <td class="inputBoxPlacement"><%=builder.text_area :description,:class=>'inputTextbox', :title=>'Enter Description',:cols =>90,:rows =>7%></td>
                    </tr>

                </table>
             </div>
         </div>
         <%end%>

         <div class="bottomButtons">
           <table>
             <tr>
               <td><span class="submitErrorPlacement"></span></td>
               <td><%=submit_tag "Update"%></td>
             </tr>
           </table>
         </div>
       </div>
   <%#*form end%>
  <%end%>

<%end%>

