<%= content_for :content do  %>
  <div class="pageHeadingBar">
    <h1>Workshop Papers</h1>
  </div>
<hr class="headingLineBreak"/>
    <%unless @workshop_publication_wrappers.blank?%>
       <% if !flash[:success].blank? %>
        <div class="messages">
          <p><%=flash[:success]%></p>
        </div>
       <%end%>
       <%=render :partial=>"layouts/applicationindex" ,
           :collection=>@workshop_publication_wrappers,
           :as=>:wrapper%>
     <%else%>
       <div class="dataBlock">
          <div class="dataPadder">
            No workshop paper is available right now. To continue, please <%= link_to "add a workshop paper", :controller => "workshoppublications", :action => "new"%>
          </div>
       </div>
     <%end%>
<%end%>
<% content_for :menu do %>
  <%= render "faculty/navigationmenu" %>
<%end%>
