<%= javascript_include_tag "graduate_students/courses.js" %>
<%= javascript_include_tag "graduate_students/gradStudentsClientSideValidations.js" %>


<div class="pageHeadingBar">
    <h1>Edit Student's Course</h1>
</div>
<hr class="headingLineBreak"/>

<% if !flash[:notice].blank? %>
  <div class="messages">
    <p><%=flash[:notice]%></p>
  </div>
  <div class="clearFloatingAndStartFromBelow"></div>
<%end%>

<% if !flash.now[:error].blank? %>
  <div class="errors">
    <p><%=flash.now[:error]%></p>
  </div>
  <div class="clearFloatingAndStartFromBelow"></div>
<%end%>

<%unless @offeredcourses.nil?%>
    <%= nested_form_for [:GraduateStudents, @studentcourses], :url=>{:action=>"update"}, :html=>{ :id=>'formstudentCourses' } do |f|%>
    <%= f.hidden_field :student_id %>
    <%= f.hidden_field :semester_id %>
    <%= f.hidden_field :coursegpa %>
    <input type="hidden" id="mode" name="mode" value="<%= params[:mode] %>" />
      <div class="groupBox">
        <table>
            <tr>
              <td class="labelDefinitionTerm">Course name:</td>
              <td class="inputBoxPlacement"><%=f.collection_select(:course_id,@offeredcourses,:c_id,:c_name,{}, :class=>'dropdown')%></td>
              <td class="popupfieldErrorPlacement"><%= flash[:noticeduplicate] %></td>
            </tr>
            <tr>
              <td class="labelDefinitionTerm">Course grade:</td>
              <td class="inputBoxPlacement"><%=f.collection_select  :grade_type_id,GradeType.all,:id,:name,
                                                                    options={:prompt=>"Select a Grade",
                                                                    :selected=>f.object.grade_type_id},
                                                                    :title   => "Please specify a grade",
                                                                    :class=>"dropdown"%></td>
              <td class="popupfieldErrorPlacement"></td>
            </tr>
            <tr>
              <td class="labelDefinitionTerm">Course status:</td>
              <td class="inputBoxPlacement"><%=f.collection_select  :course_status_id,CourseStatus.all,:id,:name,
                                          options={:prompt=>"Select a Course Status",
                                          :selected=>f.object.course_status_id},
                                          :title   => "Please specify a course status",
                                          :class=>"dropdown"%></td>
              <td class="popupfieldErrorPlacement"></td>
            </tr>
        </table>
        <table class="uploadedAttachmentsFields">
          <tr>          
            <%= f.fields_for :course_assets do |p| %>
              <% if !p.object.new_record? %>
                 <% if !p.object.asset_file_name.blank? %>
                    <tr>
                      <td class="labelDefinitionTerm">Uploaded Document:</td>
                      <td class="inputBoxPlacement" style="width: 350px;"><%= link_to p.object.asset_file_name,  p.object.asset.url(:original, false)%></td>
                      <td><%= p.check_box :_destroy %>Select to delete</td>
                    </tr>
                 <%end%>
              <% end %>
            <% end %>
          </tr>
        </table>
        <%  if @studentcourses.course_assets.count() < 5 %>
        <table class="uploadNewAttachmentsFields">
          <tr>
            <td class="labelDefinitionTerm">Upload Document:</td>
              <%= f.fields_for :course_assets do |p| %>
                <% if p.object.new_record? %>
                  <td><%=render "asset",:tm=>p%></td>
                <%end%>
              <%end%>
          </tr>
          <tr>
            <td></td><td><%= f.link_to_add "Add more", :course_assets, :style=>'font-weight:bold; margin-left:15px;margin-bottom:10px;float:left' %></td>
            <td><span class="dynamicFieldErrorPlacement" style="display: none; float:left;">Please fill empty field first</span></td>
          </tr>
        </table>
        <%end%>
      </div>

      <div class="bottomButtons">
        <table>
          <tr>
            <td><span class="submitErrorPlacement"></span></td>
            <td><%=f.submit "Update"%></td>
          </tr>
        </table>
      </div>
    <%end%>
  <%else%>
    Courses cannot be found for this student
<%end%>
   
  