<%= javascript_include_tag "graduate_students/ajaxResponders.js" %>
<%= javascript_include_tag "graduate_students/gradStudentsClientSideValidations.js" %>
<%= javascript_include_tag "graduate_students/msSpecialCoursesNewEditScripts.js" %>

<div class="pageHeadingBar">
    <h1>Add Co-supervisors</h1>
</div>
<hr class="headingLineBreak"/>

<div class="messages" style="display: none;">
  <p></p>
</div>

<div class="errors" style="display: none;">
  <p></p>
</div>
<div class="clearFloatingAndStartFromBelow"></div>
  <%= form_for @cosupervisor,:url => { :controller => "GraduateStudents/independent_studies",:action => "create",:mode=>'supervisor',:id=>params[:id]}, :html=>{:id=>'formMSIndependentStudies', :class=>'clientSideValidatedForm'}  do |cos|%>
  <%= cos.hidden_field :independent_study_id , :value => params[:id]%>
     <%= render "cosupervisor",:cos =>cos %>
  <div class="bottomButtons">
       <%=cos.submit "Save"%>
  </div>
  <%end%>