<% content_for :menu do %>
<%= link_to "Add new Inventory", :controller => "inventory/inventories", :action => "new"%><br/>
<%= link_to "Show All ", :controller => "inventory/cpus", :action => "new"%>

<%end%>

<% content_for :content do %>


<h3>Please Add LCD Details</h3>


<%= form_tag({:controller => "inventory/lcds", :action => "create"}) do%>


 <div style="margin-left: 10%;margin-top:10%; ">
      <div style="width:30%;float:left;">
        <%= label_tag(:lbltype,"LCD Type:") %>
      </div>
      <div style="width:70%;float:left;">
        <%=text_field_tag(:type,nil)%>
      </div>
      <br/>


      <div style="width:30%;float:left;">
        <%= label_tag(:lblresolution, "Resolution:") %>
      </div>
      <div style="width:70%;float:left;">
        <%=text_field_tag(:resolution,nil)%>
      </div>
      <br/>

      <div style="width:30%;float:left;">
        <%= label_tag(:lblsize, "LCD size:") %>
      </div>
      <div style="width:70%;float:left;">
         <%=text_field_tag(:size,nil)%>
      </div>
      <br/>

      <div style="width:30%;float:left;">
        <%= label_tag(:lblinventory_id, "Inventory Id:") %>
      </div>
      <div style="width:70%;float:left;">
        <%=text_field_tag(:inventory_id,nil)%>
      </div>
      <br/>

      <div style="width:30%;float:left;">
        <%= label_tag(:lblprocessorgraphics, "Processor Graphics:") %>
      </div>
      <div style="width:70%;float:left;">
        <%=text_field_tag(:processorgraphics,nil)%>
      </div>
      <br/>
  <br/>
     <div style="width:50%;float:left;"></div>
     <div style="width:70%;float:left;"><%=submit_tag("Create")%></div>
       </div>




<%end%>
<%end%>