<%= content_for :content do  %>
    <div class="pageHeadingBar">
        <h1>Edit Research Grant</h1>
    </div>
    <hr class="headingLineBreak"/>

    <% if !flash[:error].blank? %>
    <div class="errors">
      <p><%=flash[:error]%></p>
    </div>
    <div class="clearFloatingAndStartFromBelow"></div>
  <%end%>
    
    <%= nested_form_for @research_grant ,:html=>{:id=>"formGrant", :class=>'clientSideValidatedForm'},
                                             :url =>{ :controller => "faculty/researchgrants",
                                             :action => "update",
                                             :id=>@research_grant.id}  do |research_grant_edit| %>
      <%= render "newedit",:r =>research_grant_edit%>
  <%end%>
<%end%>

<% content_for :menu do %>
   <%= render "faculty/navigationmenu" %>
<%end%>
